/*
	Style sheet for league site.
*/

body {
	background-color: DarkSlateGray;
	font-family: Verdana, sans-serif;
}

#outerContainer {
	background-image: url('grayFog.jpg');
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border: 1px solid black;
	border-radius: 20px;
	overflow: hidden;
}

.innerContainer {
	background-color: LightSteelBlue;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	border: 3px solid black;
	border-radius: 15px;
	overflow: hidden;
}

#header {
	font-size: 30px;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
	border-bottom: 10px solid black;
}

#navBar {
	font-size: 16px;
	text-shadow: 1px 1px LightGray;
	text-transform: uppercase;
}

#navBar ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#navBar ul li {
	float: left;
	border-bottom: 2px solid black;
	width: 16.667%;
}

a {
	color: black;
	text-decoration: none;
	display: block;
	background-color: SlateGray;
	text-align: center;
	padding: 8px;
}

a:hover {
	color: DodgerBlue;
	background-color: LightSlateGray;
	text-shadow: 1px 1px Blue;
}

a.resultLink {
	color: MediumBlue;
	text-decoration: underline;
	background-color: LightSteelBlue;
}

caption {
	font-weight: bold;
	padding-bottom: 5px;
}

table {
	background-color: LightGray;
	border-collapse: collapse;
	border: 2px solid black;
	border-radius: 15px;
	box-shadow: 10px 10px 4px;
}

table.game {
	float: left;
	margin: 30px;
	width: 43%;
	border-radius: 0;
	padding: 0;
}

tr.alt {
	background-color: white;
}

tr.alt2 {
	background-color: #DCDCDC;
}

td, th {
	text-align: center;
	padding: 8px;
}

th {
	border-bottom: 2px solid black;
}