<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisableFileRecoveryOnOpen</key>
	<true/>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>3</integer>
		<key>Title</key>
		<string>IEEE Conference Format - Times 12</string>
	</dict>
	<key>binderSelection</key>
	<array>
		<integer>27</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {238, 634}}</string>
		<string>{{239, 0}, {790, 634}}</string>
	</array>
	<key>binderState</key>
	<array>
		<integer>0</integer>
		<integer>8</integer>
		<integer>21</integer>
		<integer>22</integer>
		<integer>27</integer>
		<integer>40</integer>
		<integer>23</integer>
		<integer>24</integer>
		<integer>25</integer>
		<integer>26</integer>
	</array>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {725, 247}}</string>
		<string>{{0, 257}, {725, 247}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>inspectorGeneralPaneIsCollapsed</key>
	<false/>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorSelectedDataTab</key>
	<integer>5</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {486, 608}}</string>
		<string>{{487, 0}, {227, 608}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<integer>2</integer>
	</array>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>143</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>8</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>8</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>26</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>8</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>25</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>26</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>25</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>24</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>23</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>22</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>21</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>22</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>27</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>22</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>27</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>23</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>27</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>29</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>27</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>30</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>27</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>29</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>27</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>30</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>27</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
					<integer>3</integer>
					<integer>8</integer>
					<integer>5</integer>
					<integer>21</integer>
					<integer>22</integer>
					<integer>27</integer>
					<integer>29</integer>
					<integer>30</integer>
					<integer>23</integer>
					<integer>24</integer>
					<integer>25</integer>
					<integer>26</integer>
					<integer>1</integer>
					<integer>15</integer>
					<integer>14</integer>
					<integer>17</integer>
					<integer>2</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>27</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>31</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>27</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>32</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>29</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>32</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>23</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>24</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>25</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>21</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>33</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>21</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>33</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{3134, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>3</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>33</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>29</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>30</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>31</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>32</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>27</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>34</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{298, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>34</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>32</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>31</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>32</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>34</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>32</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>31</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>30</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>29</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>23</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>34</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>27</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>34</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>26</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>36</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>25</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>24</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>29</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>30</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>31</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>32</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>34</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>34</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>23</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>37</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{438, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>23</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>24</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>38</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>38</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>33</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>38</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>38</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>5</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>38</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>37</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>38</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>25</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>39</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>25</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>39</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>36</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>39</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>38</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>37</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>24</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>25</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>38</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>22</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>40</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>27</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>38</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>39</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>38</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>39</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>38</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>39</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>38</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>39</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>38</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>39</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>38</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>39</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>33</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>39</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>38</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>39</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>36</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>2</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>17</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>2</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {725, 458}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainWindowFrame</key>
	<string>251 122 1029 656 0 0 1280 778 </string>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
			<string>LABEL</string>
			<string>STATUS</string>
		</array>
		<key>widths</key>
		<dict>
			<key>LABEL</key>
			<real>47</real>
			<key>STATUS</key>
			<real>55.66162109375</real>
			<key>TITLE</key>
			<real>228</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {621, 304}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
